# Auto detect text files and perform LF normalization
*                   text=auto eol=lf

# =================================================
#   Configs
# =================================================

.editorconfig       text eol=lf
.gitattributes      text eol=lf
.gitignore          text eol=lf
*.hcl               text eol=lf
*.sources           text eol=lf
*.yaml              text eol=lf
*.yml               text eol=lf

# =================================================
#   Docker
# =================================================

*.dockerfile        text eol=lf
Dockerfile*         text eol=lf

# =================================================
#   Documentation
# =================================================

*.md                text eol=lf

# =================================================
#   Scripts
# =================================================

*.sh                text eol=lf
*.bash              text eol=lf
